@font-face { font-family: pixel; src: url(/map/assets/dogicabold.otf); } 

*{
    font-family: pixel;
}

body{
    background-color: #9e8454;
}

.card{
    background-color: #612614;
}

#close{
    color: white;
    position: absolute;
    top: 2%;
    right: 2%;
}

.buttons{
    color: white;
    background-color: #463f326d;
    border-radius: 7px;
    padding: 1px 2px;
    font-size: 7px;
    position: absolute;
}   

.village{
    top: 45%;
    right: 24%;
}

.covil{
    top: 76%;
    left: 1%;
}

.vilaAna{
    top: 8%;
    left: 12%;
}

.forest{
    top: 20%;
    left: 28%;
}

.castle{
    top: 52%;
    right: 3%;
}

.pike{
    top: 60%;
    right: 49%;
}

.cave1{
    top: 84%;
    right: 51%;
}

.cave2{
    top: 46%;
    right: 42%;
}


dialog{
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}